[Unit]
Description=ESP32 CI
StartLimitIntervalSec=0

[Service]
User=ci
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=%Y/esp32-ci.py --workspace %Y/../
KillSignal=SIGINT
Restart=always
RestartSec=1s
RestartSteps=4
RestartMaxDelaySec=625s

[Install]
WantedBy=multi-user.target
