[Unit]
Description=ESP32 CI
StartLimitIntervalSec=0

[Service]
User=ci
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/bin/bash -l -c "~/workspace/esp32-ci/esp32-ci.py --workspace ~/workspace -l 80"
KillSignal=SIGINT
Restart=always
RestartSec=1s
RestartSteps=4
RestartMaxDelaySec=625s

[Install]
WantedBy=multi-user.target
